fastapi
uvicorn
pandas
numpy
scikit-learn
nltk
spacy
imbalanced-learn
xgboost
joblib
shap
matplotlib
seaborn
sqlalchemy
psycopg2-binary
beautifulsoup4
requests
python-dotenv
python-multipart
python-jose
alembic
